<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysTelDao">
    <select id="doFindTel" resultType="com.cy.pj.sys.entity.SysTel">
       select * from sys_tel
    </select>

</mapper>